:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-dark: hsl(192, 100%, 9%);
  --color-light: hsl(207, 100%, 98%);
  --color-white: #fff; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 50%;
  box-sizing: border-box; }

.mt-sm {
  margin-top: 2rem !important; }

.mt-md {
  margin-top: 6rem !important; }

.mt-lg {
  margin-top: 8rem !important; }

.mt-xl {
  margin-top: 12rem !important; }

.p-sm {
  padding: 0 2rem !important; }

.p-md {
  padding: 0 3rem !important; }

.pt-sm {
  padding-top: 2rem !important; }

.pt-md {
  padding-top: 6rem !important; }

.pb-sm {
  padding-bottom: 2rem !important; }

.pb-md {
  padding-bottom: 6rem !important; }

.pb-lg {
  padding-bottom: 8rem !important; }

.pb-xl {
  padding-bottom: 12rem !important; }

body {
  font-family: "Open Sans", sans-serif; }

.heading {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  text-align: center; }
  .heading--primary {
    font-size: 3rem; }
  .heading--secondary {
    font-size: 2.2rem; }

.paragraph {
  color: var(--color-dark);
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem; }
  .paragraph--white {
    color: var(--color-white); }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 auto;
  display: block;
  width: 25rem;
  text-align: center; }

.btn--cta, .btn--submit {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }

.btn--submit {
  border: none;
  width: 50%;
  border-radius: 10px;
  padding: 2rem 2rem;
  display: block;
  margin-left: auto; }

.section {
  background-color: var(--color-light);
  margin-top: -1rem; }
  .section--white {
    background-color: #fff !important; }
  .section__img-box {
    padding: 12rem 6rem; }
  .section__img {
    width: 100%; }
  .section__text-box {
    padding: 0 4rem; }
  .section__text {
    padding-bottom: 6rem; }

.input {
  width: 100%;
  padding: 2rem 1rem;
  border: none;
  border-bottom: 4px solid transparent;
  border-radius: 10px;
  outline: none;
  transition: all .2s ease-in;
  font: inherit;
  font-size: 1.6rem; }
  .input:focus {
    border-bottom: 4px solid var(--color-primary); }

.container {
  max-width: 144rem;
  padding: 4rem;
  margin: 0 auto; }

.header__nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem; }

.header__logo-box {
  width: 12rem; }

.header__logo {
  width: 100%; }

.header__cta:link, .header__cta:visited {
  text-decoration: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: .5rem 2rem;
  border-radius: 100px;
  transition: all .4s ease; }

.header__cta:hover {
  background-color: var(--color-primary);
  color: #fff; }

.footer {
  margin-top: 23rem; }
  .footer__top {
    width: 100%; }
  .footer__body {
    margin-top: -1rem;
    background-color: var(--color-dark); }

.newsletter__heading, .newsletter__text {
  color: #fff;
  text-align: left;
  font-weight: 400; }

.information__logo-box {
  width: 60%; }

.information__logo {
  width: 100%; }

.information__text {
  text-align: left; }

.information__contact {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.information__contact-text {
  text-align: left;
  padding-left: 3rem;
  font-weight: 200; }

.information__smedia-link:link, .information__smedia-link:visited {
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;
  margin-right: 3rem;
  transition: all .3s ease; }
  .information__smedia-link:link:hover, .information__smedia-link:visited:hover {
    transform: scale(1.2); }

.section-info .info {
  padding: 0 4rem; }
  .section-info .info__img {
    width: 100%; }
  .section-info .info__cards {
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: center; }
  .section-info .info__icon {
    width: 2.5rem; }
  .section-info .info__main-text {
    font-size: 6.8rem;
    font-weight: 700; }
  .section-info .info__text {
    color: #ccc; }

.section-grow-together .section-top,
.section-grow-together .section-bottom {
  width: 100%; }
