/* 
0 - 600     phone
600-900     tablet-portrait
900-1200    tablet-ladnscape
1200-1800   desktop
1800+       big-desktop
*/
:root {
  --color-primary: hsl(322, 100%, 66%);
  --color-dark: hsl(192, 100%, 9%);
  --color-light: hsl(207, 100%, 98%);
  --color-white: #fff; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 50%;
  box-sizing: border-box; }
  @media (min-width: 37.5em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 75em) {
    html {
      font-size: 62.5%; } }

.mt-sm {
  margin-top: 2rem !important; }

.mt-md {
  margin-top: 6rem !important; }

.mt-lg {
  margin-top: 8rem !important; }

.mt-xl {
  margin-top: 12rem !important; }

.p-sm {
  padding: 0 2rem !important; }

.p-md {
  padding: 0 3rem !important; }

.pt-sm {
  padding-top: 2rem !important; }

.pt-md {
  padding-top: 6rem !important; }

.pb-sm {
  padding-bottom: 2rem !important; }

.pb-md {
  padding-bottom: 6rem !important; }

.pb-lg {
  padding-bottom: 8rem !important; }

.pb-xl {
  padding-bottom: 12rem !important; }

body {
  font-family: "Open Sans", sans-serif; }

.heading {
  font-family: "Poppins", sans-serif;
  color: var(--color-dark);
  text-align: center; }
  .heading--primary {
    font-size: 3rem; }
    @media (min-width: 75em) {
      .heading--primary {
        font-size: 5rem; } }
  .heading--secondary {
    font-size: 2.2rem; }
    @media (min-width: 75em) {
      .heading--secondary {
        text-align: left;
        font-size: 3.6rem; } }

.paragraph {
  color: var(--color-dark);
  text-align: center;
  font-weight: 600;
  font-size: 1.6rem; }
  .paragraph--white {
    color: var(--color-white); }

@media (min-width: 75em) {
  .paragraph-box {
    width: 40%;
    margin: 0 auto; } }

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 auto;
  display: block;
  width: 25rem;
  text-align: center; }
  @media (min-width: 75em) {
    .btn:link, .btn:visited {
      width: 30%; } }

.btn--cta, .btn--submit {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }
  @media (min-width: 75em) {
    .btn--cta, .btn--submit {
      padding: 3rem 6rem; } }

.btn--submit {
  border: none;
  width: 50%;
  border-radius: 10px;
  padding: 2rem 2rem;
  display: block;
  margin-left: auto;
  margin-top: 2rem; }
  @media (min-width: 75em) {
    .btn--submit {
      margin-left: 4rem;
      height: inherit;
      margin-top: 0; } }

.section {
  background-color: var(--color-light);
  margin-top: -1rem; }
  @media (min-width: 75em) {
    .section__content {
      display: flex;
      align-items: center;
      width: 90%;
      max-width: 144rem;
      margin: -1rem auto 0 auto; } }
  .section--white {
    background-color: #fff !important; }
  .section__img-box {
    padding: 12rem 6rem; }
  .section__img {
    width: 100%; }
  .section__text-box {
    padding: 0 4rem; }
  .section__text {
    padding-bottom: 6rem; }
    @media (min-width: 75em) {
      .section__text {
        text-align: left; } }

.input {
  width: 100%;
  padding: 2rem 1rem;
  border: none;
  border-bottom: 4px solid transparent;
  border-radius: 10px;
  outline: none;
  transition: all .2s ease-in;
  font: inherit;
  font-size: 1.6rem; }
  .input:focus {
    border-bottom: 4px solid var(--color-primary); }

.container {
  max-width: 144rem;
  padding: 4rem;
  margin: 0 auto; }

.header__nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12rem; }

.header__logo-box {
  width: 12rem; }
  @media (min-width: 75em) {
    .header__logo-box {
      width: 20rem; } }

.header__logo {
  width: 100%; }

.header__cta:link, .header__cta:visited {
  text-decoration: none;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: .5rem 2rem;
  border-radius: 100px;
  transition: all .4s ease; }
  @media (min-width: 75em) {
    .header__cta:link, .header__cta:visited {
      font-size: 1.6rem; } }

.header__cta:hover {
  background-color: var(--color-primary);
  color: #fff; }

.footer {
  margin-top: 23rem; }
  .footer__top {
    width: 100%; }
  .footer__body {
    margin-top: -1rem;
    background-color: var(--color-dark); }
  @media (min-width: 75em) {
    .footer__content {
      display: flex;
      justify-content: space-between;
      width: 90%; } }

@media (min-width: 75em) {
  .newsletter {
    width: 45%; } }

.newsletter__heading, .newsletter__text {
  color: #fff;
  text-align: left;
  font-weight: 200; }

@media (min-width: 75em) {
  .newsletter__form {
    display: flex;
    height: 5rem; } }

@media (min-width: 75em) {
  .information {
    width: 30%;
    order: -1; } }

.information__logo-box {
  width: 70%; }
  @media (min-width: 75em) {
    .information__logo-box {
      width: 80%; } }

.information__logo {
  width: 100%; }

.information__text {
  text-align: left; }

.information__contact {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.information__contact-text {
  text-align: left;
  padding-left: 3rem;
  font-weight: 200; }

.information__smedia-link:link, .information__smedia-link:visited {
  text-decoration: none;
  color: var(--color-white);
  display: inline-block;
  margin-right: 3rem;
  transition: all .3s ease; }
  .information__smedia-link:link:hover, .information__smedia-link:visited:hover {
    transform: scale(1.2); }

.section-info .info {
  padding: 0 4rem; }
  @media (min-width: 75em) {
    .section-info .info {
      width: 80%;
      margin: 0 auto; } }
  .section-info .info__img {
    width: 100%; }
  .section-info .info__cards {
    color: var(--color-dark);
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 75em) {
      .section-info .info__cards {
        flex-direction: row;
        justify-content: space-around; } }
  .section-info .info__card:last-child {
    margin-top: 12rem; }
    @media (min-width: 75em) {
      .section-info .info__card:last-child {
        margin-top: 0; } }
  .section-info .info__icon {
    width: 2.5rem; }
    @media (min-width: 75em) {
      .section-info .info__icon {
        width: 3.5rem; } }
  .section-info .info__main-text {
    font-size: 6.8rem;
    font-weight: 700; }
    @media (min-width: 75em) {
      .section-info .info__main-text {
        font-size: 7.6rem; } }
  .section-info .info__text {
    color: #ccc; }

.section-grow-together .section__text-box,
.section-your-users .section__text-box {
  order: -1; }

.section-grow-together .section-top,
.section-grow-together .section-bottom,
.section-your-users .section-top,
.section-your-users .section-bottom {
  width: 100%; }
