.btn {
    &:link,
    &:visited {
        text-decoration: none;
        font-size: 1.6rem;
        margin: 0 auto;
        display: block;
        width: 25rem;
        text-align: center;
        @include respond(desktop) {
            width: 30%;
        }
    }
    &--cta, 
    &--submit {
        background-color: var(--color-primary);
        color: var(--color-white);
        padding: 1rem 2rem;
        border-radius: 100px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
        @include respond(desktop) {
            padding: 3rem 6rem;
        }
    }
    &--submit {
        border: none;
        width: 50%;
        border-radius: 10px;
        padding: 2rem 2rem;
        display: block;
        margin-left: auto;
        @include respond(desktop) {
            margin-left: 4rem;
            height: inherit;
        }
    }
}