.section {
    background-color: var(--color-light);
    margin-top: -1rem;
    &__content {
        @include respond(desktop) {
            display: flex;
            align-items: center;
            width: 90%;
            max-width: 144rem;
            margin: -1rem auto 0 auto;
        }
    }
    &--white {
        background-color: #fff !important;
    }
    &__img-box {
        padding: 12rem 6rem;
    }
    &__img {
        width: 100%;
    }
    &__text-box {
        padding: 0 4rem;
    }
    &__text {
        padding-bottom: 6rem;
        @include respond(desktop) {
            text-align: left;
        }
    }
}