.mt-sm {
    margin-top: 2rem !important;
}
.mt-md {
    margin-top: 6rem !important;
}
.mt-lg {
    margin-top: 8rem !important;
}
.mt-xl {
    margin-top: 12rem !important;
}

.p-md {
    padding: 0 3rem !important;
}