.mt-sm {
    margin-top: 2rem !important;
}
.mt-md {
    margin-top: 6rem !important;
}
.mt-lg {
    margin-top: 8rem !important;
}
.mt-xl {
    margin-top: 12rem !important;
}

.p-sm {
    padding: 0 2rem !important;
}
.p-md {
    padding: 0 3rem !important;
}

.pt-sm {
    padding-top: 2rem !important;
}
.pt-md {
    padding-top: 6rem !important;
}

.pb-sm {
    padding-bottom: 2rem !important;
}
.pb-md {
    padding-bottom: 6rem !important;
}
.pb-lg {
    padding-bottom: 8rem !important;
}
.pb-xl {
    padding-bottom: 12rem !important;
}